@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body{
    background:white;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    display:block;
}

.container{
    background-color: #1f2937;
    color:white;
    height:400px;
}

/* header & navigationbar*/
.navbar{
    display:flex;
    flex-direction:row;
    align-items:center;
    
}

.left-header{
padding-left:100px;
font-weight: 900;
font-size: 30px; ;
}

.right-header{
    margin-left:auto;
    padding-right:100px;
    display:flex;
    width:500px;
    gap:50px;
    
     
}

.right-header > a{
    text-decoration: none;
    color:white;
}

/*signup and about section*/
.information{
    display:flex;
    
}

.info-left{
    padding-left:150px;
    width:500px;
    margin:50px;
    
}

.about{
    font-size:40px;
    font-weight: 900;
}

.signup{
border-radius:10px;
width:100px;
height:30px;
background-color: #3882F6;
color:white;
}

.sadcat{
    width:300px;
    align-items: center;
    padding-left:400px;
    
}

/* information */
.container-1{
    height:300px;
}
.options{
    display:flex;
    justify-content: center;
}

.cardbox{
    display:flex;
    flex-direction:row;
    gap:20px;
    justify-content:center;
    text-align: center;
}
.card{
    display:flex;
    flex-direction: column;
    align-items:center;
    max-width:200px;
}

.square{
    border:3px solid blue;
    border-radius:20px;
    width:150px;
    height:150px;   
}

/* quote section*/
.quote{
    background-color:#E5E7EB;
    display:flex;
    height:200px;
    align-items:center;
    justify-content: center;
    flex-direction:column; 
    padding:20px;
    margin-top:100px;
}

.quote em{
    display:flex;
    font-size:30px;
    width:1200px;
    justify-content:Center;
    font-weight: 400;
}

.quote p{
    margin-left:auto;
    padding-right:300px;
    font-weight: 900;
    font-size:20px;
}

/*signup2*/

.signup2{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5em 13em;
}
.container-3{
    width:100%;
padding:30px;
    background-color: #3882F6;
    display:flex;
    border-radius:10px;
   justify-content: space-around;
   align-items:Center;
}

.signupbutton2{
    border:3px solid #fff;
    border-radius:8px;
    background-color:#3882F6;
    color:white;
    width:100px;
    height:50px;
}

.footer{
    display:flex;
    height:100px;
    background-color: #1f2937;
    color:white;
    justify-content: center;
    align-items: center;
}